body {
	text-align: center;
	background-image: url("http://i57.tinypic.com/2le6l5l.jpg");
	margin-top: 40px;
}

h1 { 
	font-family: 'Sigmar One', cursive;
	margin-bottom: -25px;
	font-size: 35px;
	color: #385E0F;
}

.margins {
	margin: 39px 0 -10px 0;
}

hr { display: block; height: 2px;
    border: 0; border-top: 4px solid #000;
    margin: 1em 0; padding: 0; 
	border-color:#EEE9E9;
}

.foot-title{
	font-family: 'Sigmar One', cursive;
	font-size: 22px;
	color: #385E0F;
}

li {
	font-family: 'Sigmar One', cursive;
	font-size: 14px;
	color: #385E0F;
}
